<?xml version="1.0" encoding="UTF-8"?>
<!-- scan配置文件发生改变时是否重新加载，默认为true
    scanPeriod 是否又修改间隔，单位毫秒，默认为1分钟
    debug 为true时打印logback内部日志信息，默认为false
 -->
<configuration>
    <!-- 设置上下文名称，默认为default，用于区分不同应用程序记录 -->
    <contextName>security-demo</contextName>
    <!-- 设置变量 定义后通过${} 取值 -->
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %le %logger{5} - %m%n"/>

    <!-- 控制台打印日志的相关配置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志格式 -->
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- additivity 不往上级传播 -->
    <logger name="com.casic.demo" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
